parameters:
    level: max
    paths:
        - src
        - tests

    excludePaths:
        - tests/Fixtures/Expected (?)
        - tests/Fixtures/SampleProject

    bootstrapFiles:
        - tests/stubs/git-reader-compat.php
